<div class='container'>
	<header>
		<img src='/resources/img/logo.svg' class='logo' />
		<h1>{{eventName}} <time>{{date eventDate "dddd, MMMM Do YYYY, h:mma"}}</h1>
	</header>
	<div class='attendees-list'>
		<ul>
		{{#each attendees}}
			<li id='attendee-{{{id}}}' class='attendee {{#if checkedIn}}checked-in{{/if}}'>
				<div class="content">
					<span class="checkmark fa fa-check"></span>
					<strong>{{familyName}}</strong>, {{givenName}}
					<a class='print-btn fa fa-print' data-href='/print/{{{id}}}'></a>
				</div>
			</li>
		{{/each}}
		</ul>
	</div>
</div>

